<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
  <GU.RequireManual>Require manually updating repositories</GU.RequireManual>
  <GU.PruneOld>Prune old/obsolete branches</GU.PruneOld>
  <GU.Repos>Repositories</GU.Repos>
  <GU.Add>Add</GU.Add>
  <GU.ManualUpdate>Update</GU.ManualUpdate>
  <GU.RestartRequired>The game must be restarted to read changes.</GU.RestartRequired>
  <GU.Back>Back</GU.Back>
  <GU.Blacklist>Blacklist</GU.Blacklist>
  <GU.Whitelist>Whitelist</GU.Whitelist>
  
  <GU.FCStrat>Strategy on file conflicts:</GU.FCStrat>
  <GU.FC.Normal>Normal</GU.FC.Normal>
  <GU.FC.Ours>Choose ours</GU.FC.Ours>
  <GU.FC.Theirs>Choose theirs</GU.FC.Theirs>
  <GU.FC.Merge>Try merge</GU.FC.Merge>
  <GU.FC.Diff3>Diff3</GU.FC.Diff3>
  <GU.Diff3Implement>WARNING: Diff3 has not been implemented yet. Problems may arise.</GU.Diff3Implement>
</LanguageData>