[submodule "Main/Source/libgit2sharp.noexec"]
	path = Main/Source/libgit2sharp.noexec
	url = git@github.com:Jamesthe1/libgit2sharp.noexec.git
[submodule "Main/Source/libgit2sharp.noexec.nativebinaries"]
	path = Main/Source/libgit2sharp.noexec.nativebinaries
	url = git@github.com:Jamesthe1/libgit2sharp.noexec.nativebinaries.git
